* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Open Sans", sans-serif !important;
}

a {
    text-decoration: none !important;
    color: #fff;
}

#navbar {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 70px;
}

#navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
}

#navbar ul li a{
    color: #fff;
    margin: 0.75rem;
}

#navbar ul li a:hover{
    background:#336ea2;
    border-radius: 5px;
}



